$--color-canvas: #ffffff;
$--color-canvas-variant: #f6f6f6;
$--color-canvas-variant-secondary: #d3d3d3;
$--color-canvas-inverted: #000000;

$--color-brand-primary: #3a3ae2;

$--color-text-primary: #000000;
$--color-text-primary-muted-1: rgba(0, 0, 0, 0.8);
$--color-text-primary-muted-2: rgba(0, 0, 0, 0.6);
$--color-text-inverted: #ffffff;
$--color-text-inverted-muted-1: rgba(255, 255, 255, 0.6);
$--color-text-inverted-muted-2: rgba(255, 255, 255, 0.5);
